

*{
    background-color: #f0f0f0;
    
} body { 
    margin: 0%;
}

.titulo{
    font-family: Playfair Display;
    text-align: center;
    font-size: 40px;
}

.titulo h1{
    padding: 0px;
    margin-top: 55px;
    margin-bottom: 0px;
}

.parrafo1{
    text-align: center;
    margin: 20px;
    font-size: 18px;
}

.img{
    display: flex;
    flex-wrap: wrap; /* Cuando no quepan en una sola fila tira el resto hacia abajo */
    justify-content: center; /* Centramos las imágenes horizontalmente */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.img img { 
    max-width: 30%; /* Ancho máximo de cada imagen */
    margin: 5px; /* Espacio entre las imágenes */
}

/*  */


.todo{
    background-color: #63726F;
    padding: 13px;
    position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
}

.horizontal-list a{
    padding: 0;
    text-decoration: none; 
    font-family: "Work Sans", sans-serif;
    color: black;
    background-color: #63726F;
    
}

.horizontal-list li {
    display: inline;
    font-size: 23px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: #63726F;
}

.menu{
    padding-left: 80px;
    padding-right: 80px;
    border: solid 0;
    text-align: center;
    background-color: #63726F;
}