

*{
    background-color: #f0f0f0;
    
} body { 
    margin: 0%;
}

.titulo{
    font-family: Playfair Display;
    text-align: center;
    font-size: 40px;
}

.titulo h1{
    padding: 0px;
    margin-top: 55px;
    margin-bottom: 0px;
}

.parrafo1{
    text-align: center;
    margin: 20px;
    font-size: 18px;
}

.img{
    width: 500px;
    height: auto;
    display: flex;
    /* style="width: 600px; border-radius: 5px; opacity:85%;  " */
}

.img img {    
    border: solid 5px blue;    
    width: 600px;
}

/*  */


.todo{
    background-color: #63726F;
    padding: 13px;
    position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
}

.horizontal-list a{
    padding: 0;
    text-decoration: none; 
    font-family: "Work Sans", sans-serif;
    color: black;
    background-color: #63726F;
    
}

.horizontal-list li {
    display: inline;
    font-size: 23px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: #63726F;
}

.menu{
    padding-left: 80px;
    padding-right: 80px;
    border: solid 0;
    text-align: center;
    background-color: #63726F;
}